@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  margin: 0;
  background-color: #0f172a; 
  background-image: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%);
  color: #f8fafc;
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
